[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djoser = "*"
python-dotenv = "*"
mysqlclient = "*"
django-cors-headers = "*"
python-telegram-bot = "*"
celery = "*"
redis = "*"
flower = "*"
eventlet = "*"
django-redis = "*"
pillow = "*"
django-debug-toolbar = "*"
graphene-django = ">=3"

[dev-packages]

[requires]
python_version = "3.10"
