.pages {
    display: flex;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0px 120px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.focus-area {
    background: rgba(0, 0, 0, 0.579);
    border: 1px solid rgb(179, 179, 179);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}